body {
	background-color: #b6e1fc;
  width: 1300px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  }
  /* was lightskyblue; #ceebfd; */

#site-content {
    width: 1250px;
    margin: 0 auto;
  }

hr{
    height: 1px;
    background-color: rgb(107, 84, 235);
    border: none;
}
