{% extends 'base.html' %}
{% block title %}Air Quality Project Homepage{% endblock %}

{% block body %}
<body>
    <h1>Welcome to Air Quality Project Page</h1>
    <br>
    <h2>API testing</h2>
    <p>
        testing here
    </p>

    <h2>Navigation</h2>
    <!--Make a nav bar later-->
    <ul>
      <li><a href="/searches">View all past searches</a></li>
      <li><a href="/users">All users (temporary)</a></li>
      <li><a href="/login.page">Login or Create User</a></li>
    </ul>
  
  <h2>About this website</h2>
  <!--side by side layout later-->

  <ul>
    <li>Login as a user, and then do an Air quality search. </li>
    <li>You can search for today's data, the data from the last week, </li>
    <li>and a summary of the last year's AQI's for any zipcode! </li>
  </ul>
  
  <h2>Most recent search and graph:</h2>
  <!--bring up most recent search-->
  <canvas></canvas>




</body>

{% endblock %}