{% extends 'base.html' %}
{% block title %}Air Quality Project Homepage{% endblock %}

{% block body %}
<body>
    <h1>Welcome to Air Quality Project Page</h1>
    <br>
    <h2>API testing</h2>
    <p>
        testing here
    </p>

    <h2>Navigation</h2>
    <ul>
      <li><a href="/searches">View all past searches</a></li>
      <li><a href="/users">All users (temporary)</a></li>
      <li><a href="/login.page">Login or Create User</a></li>
    </ul>
  
    <h2>Create an Account</h2>
    <form action="/users" method="POST">
      <p>
        Email <input type="text" name="email">
      </p>
  
      <p>
        Password <input type="password" name="password">
      </p>
  
      <p>
        <input type="submit">
      </p>
    </form>
  
  
    <h2>Log In</h2>
    <form action="/login" method="POST">
      <p>
        Email <input type="text" name="email">
      </p>
  
      <p>
        Password <input type="password" name="password">
      </p>
  
      <p>
        <input type="submit">
      </p>
    </form> 



</body>

{% endblock %}