{% extends 'base.html' %}
{% block title %}Air Quality Project Homepage{% endblock %}

{% block body %}
<body>
    <h1>Welcome to Air Quality Project Page</h1>
  
  <h2>About This Website</h2>
  <!--side by side layout later-->

  <p>
    Login as a user, and then do an Air quality search. Air Quality Index (AQI) has many measurements.
    <br>Two important ones are ground level ozone (ozone), and particle matter 2.5 micrometers or smaller (PM 2.5).
    </p>
    <p>
    A variety of air quality data is available.  This website searches for ozone and PM 2.5 data by 
    <br>zipcode or by reporting area.  Cities and towns are assigned to larger reporting areas that share measurements. 
    <br>The extended search pages has a summary of the last year's AQI's for any zipcode or reporting area. 
    </p>

  <h2>For more information on AQI and these measurements:</h2>
  <a href="https://docs.airnowapi.org/aq101">AirNow API AQI Information</a>
  
  {% if recent %}
  <h2>Most Recent Search and Graph:</h2>
  <p>This is what our searches look like. </p>
  <!--bring up most recent search, if there is one in database-->
  <ul>
    <li>Date: {{ recent.date }}</li>
    <li>Zipcde: {{ recent.zipcode }}</li>
    <li>Reporting Area: {{ recent.reporting_area }}</li>
    {% if recent.ozone %}
      <li>Ozone AQI: {{ recent.ozone }}</li>
      {% endif %}
    {% if recent.pm %}
      <li>PM2.5 AQI: {{ recent.pm }}</li>
      {% endif %}
    <li>Category: {{ recent.category }}</li>
  </ul>

  <div id="site-content">
  <canvas id="most-recent-chart"></canvas>
  </div>
  {% endif %}

  <h2>Log In to Create an Air Quality Search</h2>
  <!--Make a nav bar later-->
  <ul>
    <li><a href="/login.page">Login or Create User</a></li>
  </ul>

</body>

{% endblock %}