{% extends 'base.html' %}
{% block title %}User Login, Create User{% endblock %}

{% block body %}
<h1>Create User Account and User Login Page</h1>
<br>
<hr>
<hr>
<br>

<h2>Create an Account</h2>
<form action="/users" method="POST">
  <p>
    Email <input type="text" name="email">
  </p>

  <p>
    Password <input type="password" name="password">
  </p>

  <p>
    <input type="submit">
  </p>
</form>
<br>
<hr>
<hr>
<br>

<h2>Log In</h2>
<form action="/login" method="POST">
  <p>
    Email <input type="text" name="email">
  </p>

  <p>
    Password <input type="password" name="password">
  </p>

  <p>
    <input type="submit">
  </p>
</form> 


<h3>Nav Bar</h3>
<ul>
<li><a href="/">Homepage</a></li>
</ul>
</h3>

<h3>Temporary Access</h3>
<ul>
<li><a href="/searches">View all past searches (temporary)</a></li>
<li><a href="/users">All users (temporary)</a></li>
</ul>

{% endblock %}