{% extends 'base.html' %}
{% block title %}Search Details for {{ search.search_id }}
{% endblock %}

{% block head %}
{# JQuery #}
  <script
src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
crossorigin="anonymous"></script>

{# ChartJS #}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

{# If you want to use time scales, you have to import a date library and the Chart.js adapter #}
<script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js"></script>
{# randomColor: generate random colors #}
<script src="https://cdn.jsdelivr.net/npm/randomcolor@0.6.2/randomColor.js"></script>
{% endblock %}

{% block body %}
<br>
<h1>Search Details for Search # {{ search.search_id  }} for Zipcode {{ search.zipcode }}</h1>
<br>
<hr>
<hr>
<br>

<h2>Your AQI Search Info:</h2>
  <ul id="search-info">
    <li>Date: {{ search.date }}</li>
    <li>Zipcode: {{ search.zipcode }}</li>
    <li>Reporting Area: {{ search.reporting_area }}</li>
    {% if search.ozone %}
      <li>Ozone AQI: {{ search.ozone }}</li>
      {% endif %}
    {% if search.pm %}
      <li>PM2.5 AQI: {{ search.pm }}</li>
      {% endif %}
    <li>Category: {{ search.category }}</li>
  </ul>
  <!--Skips ozone, pm, if they are undefined.  Displays all other search attributes (except user)-->

  <!--six_days is the previous six days, for the chart-->
  <!--chart columns are date, pm aqi, ozone aqi-->
  
  <!--if it allows it, neeed to add jinga if six_days, and endif to below-->
  
  <br>
  <hr>
  <hr>
  <br>

<div id="site-content">
<h2>Your Search AQI Graph: 
  <br> Zipcode {{ search.zipcode }} in {{ search.reporting_area }} on {{ search.date}} and Previous Week</h2>
  <canvas id="7-day-chart"></canvas>
</div>
<br>
<br>

<div id="aqi-key"><img src="/static/img/aqi-index-information-air-quality copy.jpg">
  <p>Color key courtesy of AirNow.gov. </p>
</div>
<br>
<hr>
<hr>
<br>

<h2>To see all searches for this zipcode, and add customized dates to the chart: 
  <a href="/searches/extended/{{ search.search_id }}">
    Search #{{ search.search_id }} Extended Info</a>
</h2>

<span id="search-date" style="visibility:hidden;">{{ search.date }}</span>
<span id="search-zipcode" style="visibility:hidden;">{{ search.zipcode }}</span>
<div id="six-day-list" style="visibility:hidden;">
  {% for day in six_days %}
    {{ day }},
  {% endfor %}
</div>
<span id="search-ozone" style="visibility:hidden;">{{ search.ozone }}</span>
<span id="search-pm" style="visibility:hidden;">{{ search.pm }}</span>

<h3>Navigation:</h3>
<ul class="wind">
<li><a href="/">Homepage (Logout)</a></li>
<li><a href="/users/{{ search.user_id }}">User Profile</a></li>
</ul>
{% endblock %}

{% block after_body %}
<script src="/static/js/chart.js"></script>
{% endblock %}