{% extends 'base.html' %}
{% block title %}Search Extended Info for {{ search.search_id }}
{% endblock %}

{% block head %}
{# JQuery #}
  <script
src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
crossorigin="anonymous"
></script>

{# ChartJS #}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

{# If you want to use time scales, you have to import a date library and the Chart.js adapter #}
<script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js"></script>
{% endblock %}

{% block body %}
<h1>Extended Info Zipcode Search for Search ID#{{ search.search_id  }} zipcode {{ search.zipcode }}</h1>
    <h2>Display search info, AQI</h2>
    
    <div id="site-content">
      <h2>Display chart here</h2>
      <canvas id="zipcode-chart"></canvas>
      
    </div>
    
      <h3>Choose Extra Search Dates:</h3>
      <input type="checkbox" id="option" name="previous week" value="week">
      <label for="previous week">Add data from previous week</label>
      <input type="checkbox" id="option" name="once a month" value="year">
      <label for="once a month">Add data for one day a month for the last year</label>

      <p> Note any dates before December 2006 have a different format.  Please choose a date after 12/1/2006. </p>

    <div id="site-content">
      <h2>Display chart here</h2>
      <canvas id="monthly-chart"></canvas>

    <div id="site-content">
      <h2>Display chart here</h2>
      <canvas id="spec-date-chart"></canvas>

    <div id="site-content">
      <h2>Display chart here</h2>
      <canvas id="prev-week-chart"></canvas>


    <h3>Nav Bar</h3>
    <ul>
    <li><a href="/">Homepage</a></li>
    <li><a href="/users/{{ search.user_id }}">User Profile</a></li>
    <li><a href="/searches/{{ search.search_id }}">Back to Search Details</a></li>
    </ul>
{% endblock %}

{% block after_body %}
<script src="/static/js/extendedsearch.js"></script>
{% endblock %}