{% extends 'base.html' %}
{% block title %}Search Extended Info for {{ search.search_id }}
{% endblock %}

{% block head %}
{# JQuery #}
  <script
src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
crossorigin="anonymous"
></script>

{# ChartJS #}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

{# If you want to use time scales, you have to import a date library and the Chart.js adapter #}
<script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js"></script>
{% endblock %}

{% block body %}
<h1>Extended Search Information for Search # {{ search.search_id  }} for Zipcode {{ search.zipcode }}</h1>
<br>
<hr>
<hr>
<br>

  <h2>Your AQI Search Info:</h2>
    <ul id="search-info">
      <li>Date: {{ search.date }}</li>
      <li>Zipcode: {{ search.zipcode }}</li>
      <li>Reporting Area: {{ search.reporting_area }}</li>
      {% if search.ozone %}
        <li>Ozone AQI: {{ search.ozone }}</li>
        {% endif %}
      {% if search.pm %}
        <li>PM2.5 AQI: {{ search.pm }}</li>
        {% endif %}
      <li>Category: {{ search.category }}</li>
    </ul>
    <!--Skips ozone, pm, if they are undefined.  Displays all other search attributes (except user)-->
<br>
<hr>
<hr>
<br>

<div id="site-content">
  <h2>Your Search AQI Graph: 
    <br> Zipcode {{ search.zipcode }} in {{ search.reporting_area }} on {{ search.date}} and Previous Week,
  <br> Plus dates added below.</h2>
    <canvas id="spec-date-chart"></canvas>

  <h2>Add your own date to the graph:</h2>
  <h3> 
      <form id="date-form">
        <input type="date" id="custom-date" name="custom-date">
        <label for="custom-date">Date</label>
        <input type="submit">
      </form>
  </h3>
  <p> Note any dates before December 2006 have a different format.  Please choose a date after 12/01/2006. </p>
</div>

<span id="search-date" style="visibility:hidden;">{{ search.date }}</span>
<span id="search-zipcode" style="visibility:hidden;">{{ search.zipcode }}</span>
<div id="six-day-list" style="visibility:hidden;">
  {% for day in six_days %}
    {{ day }},
  {% endfor %}
</div>
<span id="search-ozone" style="visibility:hidden;">{{ search.ozone }}</span>
<span id="search-pm" style="visibility:hidden;">{{ search.pm }}</span>

<br>
<hr>
<hr>
<br>

<div id="site-content">
  <h2>Graph of all AQI Searches for Zipcode {{ search.zipcode }} in {{ search.reporting_area }}:</h2>
  <canvas id="zipcode-chart"></canvas>
  
</div>

    <h3>Navigation:</h3>
    <ul class="wind">
    <li><a href="/">Homepage (Logout)</a></li>
    <li><a href="/users/{{ search.user_id }}">User Profile</a></li>
    <li><a href="/searches/{{ search.search_id }}">Back to Search Details</a></li>
    </ul>
{% endblock %}

{% block after_body %}
<script src="/static/js/extendedsearch.js"></script>
{% endblock %}