{% extends 'base.html' %}
{% block title %}User Profile for {{ user.email }}
{% endblock %}

{% block body %}

<h1>
Welcome Back {{ user.email }}
</h1>
    <p>User ID {{ user.user_id }}</p>

<h2>Create a new air quality search!</h2>
<form action="/newsearch" method="POST">
  <p>
    Zipcode <input type="number" name="zipcode">
  </p>

  <p>
    Date <input type="datetime" name="date">
  </p>

  <!--more options here later-->
  <p>
    <input type="submit">
  </p>
</form> 



<h3>If you need help finding a zipcode for the city you are looking up:</h3>
<p>link a zipcode lookup</p>
<br>

{% if my_searches %}
 <h2> Here are your past searches:</h2>
    {% for search in my_searches %}
    <li>
      <a href="/searches/{{ search.search_id }}">
        {{ search.search_id }} for zipcode {{ search.zipcode }} for {{ search.date }}
      </a>
    </li>
    {% endfor %}
{% endif %}


<h3>future nav bar</h3>
<ul>
<li><a href="/">Homepage</a></li>
</ul>
{% endblock %}