{% extends 'base.html' %}

{% block title %}User Profile for {{ user.email }}
{% endblock %}

{% block head %}
  <script
src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
crossorigin="anonymous"
></script>
{% endblock %}


{% block body %}
<h1>Welcome Back {{ user.email }}!</h1>
<span id="user-num" style="visibility:hidden;">{{ user.user_id }}  </span>

<h2>Create a new air quality search:</h2>
<form id="newsearch-form">
  
  <h3>Enter Zipcode:
    <input type="text" name="zipcode" id="zipcode">
  </h3> 
  <p>
    If you need help finding a zipcode for a city: <a href=https://tools.usps.com/zip-code-lookup.htm>USPS Zip Code Lookup</a>
  </p>
  <h3>Choose Date Range:</h3>
    <input type="checkbox" id="date" name="today" value="today">
    <label for="today">See Today's AQI</label>
    <input type="checkbox" id="date" name="week" value="week">
    <label for="week">See Last 7 Days AQI</label>

  <p>
    <input type="submit">
  </p>
</form> 

<!-- <h3>Test Data</h3>
<ul id="ajax"></ul> -->

<h2>Your New Search Info</h2>
  <ul id="display"></ul>


{% if my_searches %}
 <h2> Here are your past searches:</h2>
    {% for search in my_searches %}
    <li>
      <a href="/searches/{{ search.search_id }}">
        {{ search.search_id }} for zipcode {{ search.zipcode }} for {{ search.date }}
      </a>
    </li>
    {% endfor %}
{% endif %}
<!--if the user has saved serches, display past searches-->
<!-- loop to show searches by id, zipcode, and date-->
<!--if search.prop doesn't exist/undefined, don't display that one-->

<h3>future nav bar</h3>
<ul>
<li><a href="/">Homepage</a></li>
</ul>
{% endblock %}

{% block after_body %}
<script src="/static/js/initialsearch.js"></script>
<script src="/static/js/chart.js"></script>
{% endblock %}